<div class="col-md-3" id="post_meta">
	<div class="meta-widget">
		<h5><%= item.title %><b class="caret"></b></h5>
		<img src="<%- site.data.resources.image_cloud %><%- item.title %>.jpg" style="border-radius: 25px;border-width: 2px;border-style:inset;">
		<div id="toc">
		<h5>Keywords<b class="caret"></b></h5>
		<%- partial('tagalt') %>
		</div>
		<h5>Table of Contents<b class="caret"></b></h5>
		<%- toc(item.content, {class: "toc-article", list_number:false}) %>
	</div>
</div>